
<script type="text/javascript">
$(document).ready(function(){  
 $(function(){
  $("#styled-form").change(function(){
      $("#styled-form").submit();
});
});
});
</script>



<div class="internship-form">
<%= semantic_form_for @internship, :html => { :id => "styled-form", :method => :get }, :url => advanced_search_path, :remote => true, :class => :autosubmit do |form| %>
  <% form.inputs "Advanced Search", :id => "optional" do %>	
		<%= form.input :semester, :as => :check_boxes, :collection => Internship::SEMESTER %>
		<%= form.input :year, :as => :select, :collection => Internship::YEAR, :name => :year %>
		<%= form.input :industry, :as => :select, :collection => Internship::INDUSTRY %>
		<%= form.input :company_name %>
		<%= form.input :company_department %>
		<%= form.input :city %>
		<%= form.input :state, :as => :select, :collection => Internship::STATE %>
		<%= form.input :country, :as => :select, :collection => Internship::COUNTRY %>
		<%= form.input :paid, :label => "Compensation", :as => :radio, :collection => {"Paid" => 't', "Unpaid" => 'f', 'Either' => ' '}.sort.reverse %>
		<%= form.input :full_time, :label => "Commitment", :as => :radio, :collection => {"Full-time" => 't', "Part-time" => 'f', 'Either' => ' '}.sort.reverse %>
		<%= form.input :search_string %>
  <% end %>
  <% form.buttons do %>
    <%= form.commit_button :label => "Search" %>
  <% end %>
<% end %>
</div>