<% title "Search Results for \"#{$query}\"" %>

<div class="search-result">
	<p><%= "Search Results for \"#{$query}\"" %><p>
	<% if !@results.blank? %>
		<% @results.each_with_index do |result, i| %>
		  <%= "#{i + 1}. " %><%= link_to result, result %> <%= link_to "#{result.user.first_name} #{result.user.last_name}", result if (result.user and result.user.first_name and result.user.last_name) %><br>
		<% end %>
	<% else %>
		<center><%= "Sorry. We did not find any results for \"#{$query}\"." %></center>
	<% end %>
</div>