<% title (@user.first_name and @user.last_name) ? "#{@user.first_name} #{@user.last_name}'s profile" : "#{@profile[:name]}'s profile" %>

<% if current_user.id == @user.id %>
	<%= "<h2>Hi #{@profile[:name]}!</h2>".html_safe  %>
	<%# if @user.first_name.nil? or @user.last_name.nil? or @user.email.nil? or @user.major.nil? or @user.yog.nil? %>
	<!-- <p>Please fill out some information about yourself before proceeding</p> -->
	<%# render 'form' %>
	<%# end %>
	
<% else %>
	<% if (@user.first_name and @user.last_name) %>
		<%= "<h2>#{@user.first_name} #{@user.last_name}'s profile</h2>".html_safe %>
	<% else %>
		<%= "<h2>#{@profile[:name]}'s profile</h2>".html_safe %>
	<% end %>
<% end %><p>
	<% if current_user.admin %>
	<%= link_to "Approve internships!", unapproved_path %>
	<% end %>
<%= link_to "View internships!", internships_path %>
<%= link_to "Create a new internship!", new_internship_path %></p>
<div id="admin-button">
	<% if current_user and current_user.admin == true %>
		<% if @user.admin == false %>
	  	<%= button_to "Make Admin", make_admin_user_path(:user => @user), :method => :post, :remote => true, :class => "btn make_admin", :id => "approve", :onclick => "$('#approve').toggle();$('#unapprove').toggle();" %>
	<%= button_to "Remove as Admin", make_admin_user_path(:user => @user), :method => :post, :remote => true, :class => "btn remove_admin", :id => "unapprove", :onclick => "$('#approve').toggle();$('#unapprove').toggle();", :style => "display:none;" %>
			<% else %>
			<%= button_to "Make Admin", make_admin_user_path(:user => @user), :method => :post, :remote => true, :class => "btn make_admin", :id => "approve", :onclick => "$('#approve').toggle();$('#unapprove').toggle();", :style => "display:none;" %>
			<%= button_to "Remove as Admin", make_admin_user_path(:user => @user), :method => :post, :remote => true, :class => "btn remove_admin", :id => "unapprove", :onclick => "$('#approve').toggle();$('#unapprove').toggle();" %>
			<% end %>
	<% end %>
</div>
<table class="datagrid">
	
	<%="<tr><th>First Name</th><td>#{@user.first_name}</td></tr>".html_safe if !@user.first_name.blank? %>

	<%="<tr><th>Last Name</th><td>#{@user.last_name}</td></tr>".html_safe if !@user.last_name.blank? %>
	<%="<tr><th>Email</th><td>#{@user.email}</td></tr>".html_safe if !@user.email.blank? %>
	<%="<tr><th>Major</th><td>#{@user.major}</td></tr>".html_safe if !@user.major.blank? %>
	
	<%="<tr><th>Graduation</th><td>#{@user.yog}</td></tr>".html_safe if !@user.yog.blank? %>

	<%="<tr><th>Internships</th><td>".html_safe + @user.internships.each_with_index{|internship, i| link_to "#{i + 1}. #{internship.company_name}<br>".html_safe, internship} + "</td></tr>".html_safe if !@user.internships.blank?  %>

</table>
<div class="actions">
<% if current_user.admin %>
Download CSV:
<%= link_to "Internships", internships_path(:format => :csv) %>
<%= link_to "Users", users_path(:format => :csv) %>
<% end %>
</div>
<% if current_user and current_user.id = @user.id %>
<div class="actions">
	<%= link_to 'Edit', edit_user_path(@user) %>
	<%= link_to 'Delete', @user, :confirm => 'Are you sure?', :method => :delete %>
	</div>
<% end %>