<p>Please provide the details of your internship</p>
<div class="internship-form">
	<% past = @internship.past if past.nil? %>  
<%= semantic_form_for @internship, :html => { :id => "styled-form" } do |form| %>
  <% form.inputs "Required", :id => "required" do %>	
		<%= form.input :available, :input_html => { :checked => "checked" } if past == false %>
		<%= form.input :company_name, :label => "Company/Employer Name", :required => true %>
		<%= form.input :description %>
		<%= form.input :semester, :as => :check_boxes, :collection => Internship::SEMESTER %>
		<%= form.input :year, :as => :select, :collection => Internship::YEAR if past %>
		<%= form.input :year, :as => :select, :selected => Time.now.year, :collection => Internship::YEAR if past == false %>
		<%= form.input :job_field, :as => :select, :collection => Internship::JOB_FIELD, :input_html => { :style => 'width: 200px;' } %>
		<%= form.input :paid, :label => "Compensation", :as => :radio, :collection => {"Paid" => 't', "Unpaid" => 'f'}.sort.reverse %>
		<%= form.input :full_time, :label => "Commitment", :as => :radio, :collection => {"Full-time" => 't', "Part-time" => 'f'}.sort.reverse %>
		<% @internship.deadline = Date.today + 2.months if (@internship.deadline.blank? and past == false) %>
		<%= form.input :deadline if past == false %>
		<%= form.input :review if past %>
		<%= form.input :past, :value => "true", :as => :hidden if past %>
		<%= form.input :available, :value => "false", :as => :hidden if past %>
		<%= form.input :past, :value => "false", :as => :hidden if past == false %>
  <% end %>
  <% form.inputs :name => "Optional", :id => "optional" do %>
	<%= form.input :name, :label => "Internship Name" %>
	<% form.inputs :school, :label => "Student Restriction", :as => :select, :collection => User::SCHOOL  %>
	<%= form.input :city %>
	<%= form.input :state, :as => :select, :collection => Internship::STATE %>
	<%= form.input :country, :as => :select, :selected => "United States", :collection => Internship::COUNTRY %>
	<%= form.input :requirements, :label => "Skills/Requirements" if past == false %>
	<%= form.input :responsibilities %>
	<%= form.input :industry, :as => :select, :collection => Internship::INDUSTRY, :input_html => { :style => 'width: 200px;' } %>
	<%= form.input :website, :label => "Organization website" %>
  <% end %>
  <% form.buttons do %>
    <%= form.commit_button %>
  <% end %>
<% end %>
</div>