<% if !internships.blank? %>
<%= link_to("Download", :internships => internships, :format => :csv) if current_user and current_user.admin %>

<table class="datagrid">
  <tr>
	<th><%= link_to "Date submitted", sort_url("sort", "created_at") %></th>
	<th><%= link_to "Company Name", sort_url("sort", "company_name") %></th>
    <th><%= link_to "Field", sort_url("sort", "job_field") %></th>
    <th><%= link_to "City", sort_url("sort", "city") %></th>
    <th><%= link_to "State", sort_url("sort", "state") %></th>
<th><%= link_to "Semester", sort_url("sort", "semester") %></th>
<th><%= link_to "Year", sort_url("sort", "year") %></th>
<th>Type</th>
<th>Poster</th>
<th>More Info</th>
  </tr>

<% internships.each do |internship| %>
<% if internship %>
  <tr>
	<td><%= (Time.now - internship.created_at < 86400) ? "#{time_ago_in_words((Time.now - internship.created_at).seconds.ago)} ago" : internship.created_at.strftime("%b %e, %Y") if internship.created_at %></td>
	<td><%= internship.company_name if internship.company_name %></td>
	<td><%= internship.job_field if internship.job_field %></td>
	<td><%= internship.city if internship.city %></td>
	<td><%= internship.state if internship.state %></td>
	<td><%= internship.semester if internship.semester %></td>
	<td><%= internship.year if internship.year %></td>
	<td><%= internship.past ? "Review" : internship.available ? "Opportunity" : (Time.now < internship.deadline) ? "Position Filled" : "Deadline past" %></td>
	<td><%= link_to "#{internship.user.first_name} #{internship.user.last_name}", internship.user if internship.user %></td>
	<td><%= link_to "Show", internship %></td>
    <!-- <td><%# link_to 'Show', internship %></td>
        <td><%# link_to 'Edit', edit_internship_path(internship) %></td>
        <td><%# link_to 'Destroy', internship, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
<% end %>
</table>

<br />

<%# link_to 'New Internship', new_internship_path %>

<% else %>
<center><%= "Sorry. We did not find any internships matching your request." %></center>
<% end %>