<table class="datagrid">
  <tr>
    <th><%= link_to "Field/Industry", sort_url("sort", "industry") %></th>
    <th><%= link_to "City", sort_url("sort", "city") %></th>
    <th><%= link_to "State", sort_url("sort", "state") %></th>
<th><%= link_to "Company Name", sort_url("sort", "company_name") %></th>
<th><%= link_to "Field", sort_url("sort", "job_field") %></th>
<th><%= link_to "Semester", sort_url("sort", "semester") %></th>
<th><%= link_to "Year", sort_url("sort", "year") %></th>
<th>Student</th>
<th>More Info</th>
<th>Approve</th>
  </tr>

<% internships.each_with_index do |internship, i| %>
  <tr>
		<td><%= internship.industry if internship.industry %>
	<td><%= internship.city if internship.city %></td>
	<td><%= internship.state if internship.state %></td>
	<td><%= internship.company_name if internship.company_name %></td>
	<td><%= internship.job_field if internship.job_field %></td>
	<td><%= internship.semester if internship.semester %></td>
	<td><%= internship.year if internship.year %></td>
	<td><%= link_to "#{internship.user.first_name} #{internship.user.last_name}", internship.user if internship.user %></td>
	<td><%= link_to "Show", internship %></td>
	<td>
	<% if current_user and current_user.admin == true %>
		<% if internship.approved == false %>
	  	<%= button_to "Approve", "/internships/#{internship.id}/approve?internship=#{internship.id}", :method => :post, :remote => true, :class => "btn approve", :id => "approve#{i}", :onclick => "$('#approve#{i}').toggle();$('#unapprove#{i}').toggle();" %>
	<%= button_to "Unapprove",  "/internships/#{internship.id}/approve?internship=#{internship.id}", :method => :post, :remote => true, :class => "btn unapprove", :id => "unapprove#{i}", :onclick => "$('#approve#{i}').toggle();$('#unapprove#{i}').toggle();", :style => "display:none;" %>
			<% else %>
			<%= button_to "Approve",  "/internships/#{internship.id}/approve?internship=#{internship.id}", :method => :post, :remote => true, :class => "btn approve", :id => "approve#{i}", :onclick => "$('#approve#{i}').toggle();$('#unapprove#{i}').toggle();", :style => "display:none;" %>
			<%= button_to "Unapprove",  "/internships/#{internship.id}/approve?internship=#{internship.id}", :method => :post, :remote => true, :class => "btn unapprove", :id => "unapprove#{i}", :onclick => "$('#approve#{i}').toggle();$('#unapprove#{i}').toggle();" %>
			<% end %>
	<% end %>
	</td>
    <!-- <td><%# link_to 'Show', internship %></td>
        <td><%# link_to 'Edit', edit_internship_path(internship) %></td>
        <td><%# link_to 'Destroy', internship, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%# link_to 'New Internship', new_internship_path %>