<div id="message"><%= (current_user and current_user.voted_for?(internship)) ? internship.past ? "".html_safe : "You have applied<br>".html_safe : internship.past ? '' : "You have not applied yet<br>".html_safe  %></div>
<%= (pluralize(internship.votes_for, "person") + (internship.past ? (internship.votes_for == 1) ? " finds this helpful<br>" : " find this helpful<br>" : (internship.votes_for == 1) ? " has applied<br>" : " have applied<br>")).html_safe  %>
<%= (pluralize(internship.votes_against, "person") + ((internship.votes_against == 1) ? " has flagged this<br>" : " have flagged this<br>")).html_safe  %>
<div class="centered-buttons" id="vote-buttons">
  	<li><%= button_to internship.past ?  "Helpful" : "Applied?", vote_up_internship_path(:internship => internship), :method => :post, :remote => true, :class => (current_user and !current_user.voted_for?(internship)) ? "btn vote_up" : "btn voted", :id => "approve" %></li>
	<% if current_user and current_user.id == internship.user_id %>
	<li><%= button_to "Position filled", available_internship_path(:internship => internship), :method => :post, :remote => true, :class => (current_user and internship.available) ? "btn vote_down" : "btn voted", :id => "approve" %></li>
  	<% else %>
  	<li><%= button_to "Flag", vote_down_internship_path(:internship => internship), :method => :post, :remote => true, :class => (current_user and !current_user.voted_against?(internship)) ? "btn vote_down" : "btn voted", :id => "approve" %></li>
	<% end %>
</div>