<% title "#{@internship.company_name}" if @internship.company_name %>

<p id="notice"><%= notice %></p>

<div id="approve-button">
	<% if current_user and current_user.admin == true %>
		<% if @internship.approved == false %>
	  	<%= button_to "Approve", approve_internship_path(:internship => @internship), :method => :post, :remote => true, :class => "btn approve", :id => "approve", :onclick => "$('#approve').toggle();$('#unapprove').toggle();" %>
	<%= button_to "Unapprove", approve_internship_path(:internship => @internship), :method => :post, :remote => true, :class => "btn unapprove", :id => "unapprove", :onclick => "$('#approve').toggle();$('#unapprove').toggle();", :style => "display:none;" %>
			<% else %>
			<%= button_to "Approve", approve_internship_path(:internship => @internship), :method => :post, :remote => true, :class => "btn approve", :id => "approve", :onclick => "$('#approve').toggle();$('#unapprove').toggle();", :style => "display:none;" %>
			<%= button_to "Unapprove", approve_internship_path(:internship => @internship), :method => :post, :remote => true, :class => "btn unapprove", :id => "unapprove", :onclick => "$('#approve').toggle();$('#unapprove').toggle();" %>
			<% end %>
	<% end %>	
</div>
<div id="internship-wrapper">
<div id="internship-summary">
  <h1> Internship Summary</h1>
  <dl>
    <dt>Company Name</dt>
    <dd><%= @internship.company_name if @internship.company_name %></dd>
    <dt>Location</dt>
    <dd><%= @internship.city if @internship.city %>, <%= @internship.state if @internship.state %></dd>
	<dt>Company Website</dt>
	<dd><a href=<%= @internship.website if @internship.website %>><%= @internship.website if @internship.website %></a></dd>
    <dt>Industry</dt>
    <dd><%= @internship.industry if @internship.industry %></dd>
    <dt>Company Department</dt>
	<dd><%= @internship.company_department if @internship.company_department %></dd>
	<dt>Hours per week(not including travel)</dt>
	<dd><%= @internship.hours if @internship.hours %></dd>
	<dt>Compensation Received</dt>
	<dd><%= @internship.compensation if @internship.compensation %></dd>
	<br>
	<hr>
	<dt>Student's Name</dt>
	<dd><%= link_to "#{@internship.user.first_name} #{@internship.user.last_name}", @internship.user if @internship.user %></dd>
	<dt>Student's Year of Graduation</dt>
	<dd><%= @internship.user.yog if @internship.user.yog %></dd>
	<br>
	<img src="/images/logo.png" alt="The Internship Database" width="150">
</div>

<div id="internship-main"> 
  <h1>Internship Name</h1>
  <dt>Internship Duties</dt>
    <dl> <%= @internship.responsibilities if @internship.responsibilities %> </dl>
  <dt>Details of Supervision</dt>
    <dl> <%= @internship.supervision if @internship.supervision %> </dl>
  <dt>Review</dt>
    <dl><%= @internship.review if @internship.review %></dl>   
	<br>
</div>
</div>
<% if current_user and current_user.id == @internship.user_id %>
	<%= link_to 'Edit', edit_internship_path(@internship) %>
	<%= link_to 'Delete', @internship, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

