<%= form_for @user_session, :url => authenticate_path, :html => { :method => :post, :class => "authentication_form" } do |f| %>
<!-- authentication_type should be "user" or "session", based on controller -->
<%= oauth_login_hidden_input %>
<fieldset>
  <p>Login with Facebook, LinkedIn, Google Account</p>
  <div class='oauth_providers'>
    <ul>
      <% %w(facebook linked_in google).each do |name| %>
      <li class='oauth_provider'>
        <%= image_tag "/images/icons/#{name}.png" %>
        <%= radio_button_tag :oauth_provider, name %>
      </li>
      <% end %>
    </ul>
  </div>
</fieldset>
<%= submit_tag "Login", :class => :submit %>
<% end %>
<div class='clearfix'></div>