<% title "Log in" %>

<h2>Login!</h2>
<%= form_for @user_session, :url => authenticate_path, :html => { :method => :post, :class => "authentication_form" } do |f| %>
<!-- authentication_type should be "user" or "session", based on controller -->
<%= oauth_login_hidden_input %>
<fieldset>
  <p>Click to log in with your Brandeis email address</p>
  <div class='oauth_providers'>
    <ul>
      <li class='oauth_provider'>
        <%= image_tag "/images/icons/brandeis.png" %>
        <%= radio_button_tag :oauth_provider, "google", :checked => "checked" %>
				<%= radio_button_tag :oauth_provider, "google", :checked => "checked" %>
      </li>
    </ul>
  </div>
</fieldset>
<%= submit_tag "Login", :class => :submit %>
<% end %>
<div class='clearfix'></div>
