<!DOCTYPE html>
<html>
<head profile='http://gmpg.org/xfn/11'>
	<meta charset="utf-8" />
	<title>The Internship Database : <%= yield(:title) || "Find Internship Reviews or Opportunities" %></title>
	<meta name="google-site-verification" content="prpLgqQEKhoSzaS96o3aIPQ6u4czl74V1cvjAuNwkkk" />
	<!-- <meta name="google-site-verification" content="JW_hluXdWiBDeaLri74TwWs6B1mr6LMK3KleS75ZzZQ" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 

</head>
</title>

<%= csrf_meta_tag %>
<%= stylesheet_link_tag 'reset' %>
<%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.2.custom' %>
<%= stylesheet_link_tag 'authlogic-connect' %>
<%= stylesheet_link_tag 'form' %>
<% if is_mobile_device? %>
<%= stylesheet_link_tag 'handheld' %>
<% else %>
<% if browser_is? :ie %>
<%= stylesheet_link_tag 'application' %>
<% else %>
<%= stylesheet_link_tag 'application', :media => 'screen and (min-width: 800px), projection' %>
<%= stylesheet_link_tag 'handheld', :media => 'handheld, only screen and (max-width: 800px)' %>
<% end %>
<% end %>
<%= javascript_include_tag 'jquery-1.4.4.min' %>
<%= javascript_include_tag 'jquery-ui-1.8.2.custom.min' %>
<%= javascript_include_tag 'rails' %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'authlogic-connect.js' %>
<%= javascript_include_tag 'jrails' %>
<%= javascript_include_tag 'image-preview' %>
<%= include_growlr.html_safe %>
<%= feedback_includes %>
<%= feedback_tab(:position => 'left') unless is_mobile_device? %>
<%# formtastic_stylesheet_link_tag %>

<% if protect_against_forgery? %>
<script type='text/javascript'>
//<![CDATA[
window._auth_token_name = "#{request_forgery_protection_token}";
window._auth_token = "#{form_authenticity_token}";
//]]>
</script>
<% end %>

<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17217475-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    <%= render :partial => "shared/head" %>
  </head>
  <body>
		<div id="topbar">
			<div id="topnav">
				<ul>
					<li id="homebutton"><%= link_to "Home", root_path %></li>
					<li><%# link_to "Hiatt", "http://www.brandeis.edu/hiatt/" %></li>
					<li><%# link_to "NACElink", "https://brandeisu-csm.symplicity.com/students/" %></li>
					<% if current_user %>
					<li><%= link_to "Internship List", internships_path %></li>
					<% end %>
					<% if current_user and current_user.admin %>
					<li><%= link_to "Approve", unapproved_path %></li>
					<% end %>
					<!-- <li><%# link_to I18n.t("Games"), games_path %></li> -->
				</ul>
			</div>

			<div id="usernav">
				<ul>
					<li><%= link_to "Advanced Search", advanced_search_path %></li>
					<li><%= link_to "New Internship", new_internship_path %></li>
					<% if current_user %>
					<li><%= link_to current_user.profile[:name], current_user %></li>
					<li><%= link_to "Logout", logout_path %></li>
					<%# end %>
					<% else %>
					<li><%= link_to "Register", new_user_session_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
    <div id='wrapper'>
      <%= render :partial => "shared/logo" %>
			<%= render :partial => "shared/search" %>	
			<%= render :partial => 'layouts/sidebar' %>
					
        <div class='container'>
            <div class='content'>
              <%= yield %>
            </div>

		</div>
        
      <% if current_user %>
      <div class='actions'>
      	<%# link_to "Profile", current_user %>
				<%# link_to "Logout", logout_path %>
      </div>
      <% end %>
		<%= render :partial => 'layouts/ads' %>
		<div class='shadow'></div>
		
    </div>

		<div id="footer">
			<div id="info">
				<ul>
					<li id="terms"><%= link_to I18n.t("Terms of Service"), terms_path %></li>
					<li id="privacy"><%= link_to I18n.t("Privacy"), privacy_path %></li>
					<li id="about"><%= link_to I18n.t("About"), about_path %></li>
					<!-- <li id="contact"><%# link_to I18n.t("Contact"), contact_path %></li> -->
					<li id="resume"><%= link_to I18n.t("Resume"), resume_path %></li>
				</ul>
			</div>
			<!-- <p id="i18n">
							View this site in
							<span><%# link_to I18n.t("English"), :locale => "en" %></span>
							or
							<span><%# link_to I18n.t("Chinese"), :locale => "zh" %></span>
						</p> -->
			<p id="all-rights-reserved">
				<span><%= "© #{Time.now.year}. Murtaza Jafferji. All Rights Reserved." %></span>
			</p>
		</div>
		
  </body>
</html>